body {
  margin: 0;
  padding: 0;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

span {
  width: 400px;
  color: red;
  font-size: 15px;
}

td,
th {
  background: #dca;
  padding: 30px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* rgb(53, 7, 7) */
